
#landingLogoContainer {
    width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 #pressStart {
    padding-left: 175px
    

 }
 #landingLogo {


 }

#pressStart {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }